-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: nexled_dam
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `dam_assets`
--

DROP TABLE IF EXISTS `dam_assets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dam_assets` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `folder_id` varchar(255) NOT NULL,
  `display_name` varchar(255) NOT NULL,
  `filename` varchar(255) NOT NULL,
  `public_id` varchar(255) NOT NULL,
  `asset_folder` varchar(255) NOT NULL,
  `resource_type` enum('image','raw','video') NOT NULL,
  `format` varchar(32) NOT NULL,
  `mime_type` varchar(128) DEFAULT NULL,
  `bytes` bigint(20) unsigned DEFAULT NULL,
  `width` int(10) unsigned DEFAULT NULL,
  `height` int(10) unsigned DEFAULT NULL,
  `duration_ms` int(10) unsigned DEFAULT NULL,
  `secure_url` varchar(1024) NOT NULL,
  `thumbnail_url` varchar(1024) DEFAULT NULL,
  `kind` varchar(64) NOT NULL,
  `scope` enum('brand','products','support','store','website','eprel','configurator','archive') NOT NULL,
  `family_code` varchar(16) DEFAULT NULL,
  `product_code` varchar(64) DEFAULT NULL,
  `product_slug` varchar(128) DEFAULT NULL,
  `locale` varchar(16) DEFAULT NULL,
  `version` varchar(64) DEFAULT NULL,
  `tags` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`tags`)),
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_dam_assets_public_id` (`public_id`),
  UNIQUE KEY `uniq_dam_assets_folder_filename` (`folder_id`,`filename`),
  KEY `idx_dam_assets_scope_kind` (`scope`,`kind`),
  KEY `idx_dam_assets_family_code` (`family_code`),
  KEY `idx_dam_assets_product_code` (`product_code`),
  KEY `idx_dam_assets_product_slug` (`product_slug`),
  KEY `idx_dam_assets_locale` (`locale`),
  KEY `idx_dam_assets_version` (`version`),
  CONSTRAINT `fk_dam_assets_folder` FOREIGN KEY (`folder_id`) REFERENCES `dam_folders` (`folder_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dam_assets`
--

LOCK TABLES `dam_assets` WRITE;
/*!40000 ALTER TABLE `dam_assets` DISABLE KEYS */;
/*!40000 ALTER TABLE `dam_assets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dam_folders`
--

DROP TABLE IF EXISTS `dam_folders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dam_folders` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `folder_id` varchar(255) NOT NULL,
  `parent_id` varchar(255) DEFAULT NULL,
  `name` varchar(80) NOT NULL,
  `path` varchar(255) NOT NULL,
  `scope` enum('brand','products','support','store','website','eprel','configurator','archive') NOT NULL,
  `kind` enum('system','custom') NOT NULL DEFAULT 'custom',
  `is_system` tinyint(1) NOT NULL DEFAULT 0,
  `can_upload` tinyint(1) NOT NULL DEFAULT 1,
  `can_create_children` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_dam_folders_folder_id` (`folder_id`),
  UNIQUE KEY `uniq_dam_folders_path` (`path`),
  KEY `idx_dam_folders_parent_id` (`parent_id`),
  KEY `idx_dam_folders_scope` (`scope`),
  CONSTRAINT `fk_dam_folders_parent` FOREIGN KEY (`parent_id`) REFERENCES `dam_folders` (`folder_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dam_folders`
--

LOCK TABLES `dam_folders` WRITE;
/*!40000 ALTER TABLE `dam_folders` DISABLE KEYS */;
/*!40000 ALTER TABLE `dam_folders` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-16 14:53:57
